<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= link_to gravatar_for(@user), @user %>
        <h1><%= @user.name %></h1>
        <span><%= link_to "view my profile", @user %></span><br>
        <span><%= pluralize(@user.microposts.count, "micropost") %></span>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <%= render 'follow_form' if logged_in? %>
      </section>
    </aside>
    <div class="col-md-6">
      <section class="micropost-feed">
        <% if @microposts.any? %>
          <ol class="microposts" id="show-feed">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
        <% end %>
      </section>
    </div>
    <div class="col-md-3">

    </div>
  </div>
