<nav class="navbar navbar-inverse navbar-static-top">
  <div class='container'>
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" style="color:white;"></i>
      </button>
      
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag('twitta.png', id: 'logo') %>
      <% end %>
    </div><!-- end navbar header -->
  
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Community", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", "#", {'data-toggle' => 'modal', 'data-target' => '#login_modal'} %></li>
        <% end %>
      </ul>
    </div><!-- end .navbar-collapse -->
    
  </div><!-- end container -->
</nav><!-- end nav -->