<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class='container'>
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" style="color:white;"></i>
      </button>
      
      <%= link_to root_path, class: 'navbar-brand' do %>
        
        <%= image_tag('twitta.png', id: 'logo') %>
      <% end %>
    </div><!-- end navbar header -->
  
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if @user %>
          <li class="text-center"><%= link_to "Home", root_path %></li>
          <li class="text-center"><%= link_to "Help", help_path %></li>
        <% else %>
          <div class="row nav navbar-nav" style="margin-top:0.7em;">
            <%= form_for(@user) do |f| %>
              <div class="col-md-5">
                <li class="">
                  <%= f.email_field :email, class: "form-control input-sm", placeholder: "Email", tabindex: "1" %>
                </li>
              </div>

              <div class="col-md-5">
                <li class="">
                  <%= f.password_field :password, class: "form-control input-sm", placeholder: "Password", tabindex: "2" %>
                </li>
              </div>

              <div class="col-md-2">
                <li><%= f.submit "Sign in", class: "btn btn-success btn-sm" %></li>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div><!-- end .navbar-collapse -->
    
  </div><!-- end container -->
</nav><!-- end nav -->